<div class="jumbotron">
    <div class="container">
        <h1>@{ /* Muskanpreet Kaur*/ }</h1>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span>Student Number: @{ /* 200555994 */ }</span>
    </div>
</footer>
